@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main__layout {
  display: flex;
  min-width: 800px;
  height: 486px;
  box-shadow: 3px 6px 10px 10px rgba(187, 187, 187, 0.25);
}

.main__layout_left {
  width: 317px;
  max-width: 317px;
}

.main__layout_left .main__layout_left_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__layout_right {
  width: calc(100% - 317px);
  padding: 17px 45px;
  max-width: 100%;
  height: 100%;
}

.main__layout_right_title {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px;
  color: #000;
  font-weight: 600;
  font-size: 25px;
}


.main__layout_right_form {
  width: 100%;
}

.main__layout_right_form_field {
  margin: 13px 0px;
  background-color: #f6f6f7;
}

.main__layout_right_form_field > input {
  padding: 3px 12px;
  background-color: #f6f6f7;
  color: #000;
  border: 1px solid #f6f6f7;
  outline: none;
  height: 44px;
  width: 381px;
  max-width: 381px;
  font-size: 14px;
  font-weight: 400;
}

.main__layout_right_form_button {
  margin: 10px 0px;
  height: 50px;
  width: 100%;
  padding: 13px 0px 11px;
  font-weight: 600;
  color: #a3a3a3;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(187, 187, 187, 0.25);
}

.main__layout-right_form_social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 38px 0px;
}

.main__layout-right_form_social > h3 {
  text-align: center;
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

.main__layout-right_form_social_list {
  display: flex;
  margin: 17px 0px 0px 0px;
}

.main__layout-right_form_social_list > img {
  margin: 0px 11px;
  width: auto;
  height: 25px;
  object-fit: cover;
  cursor: pointer;
}

.main__layout-right_form_forgot {
  display: flex;
  justify-content: center;
}

.main__layout-right_form_forgot > p {
  margin: 0px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.main__layout-right_form_signup {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.main__layout-right_form_signup > p {
  margin-top: 0px;
  font-weight: 400;
  font-size: 16px;
}

.main__layout-right_form_signup_promo {
  margin: 0px 0px 0px 5px;
  font-weight: 650 !important;
  color: #ff502f;
  cursor: pointer;
}
