@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
}

.header {
  height: 80px;
  background-color: #595959;
  padding: 0px 55px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__content-img img {
  width: auto;
  height: 25px;
  cursor: pointer;
}

.header__content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content-nav > p {
  margin: 0px 13px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.header__content-list {
  padding: 10px 20px;
  border-radius: 9999px;
  width: 120px;
  text-align: center;
  background-color: #597ef7;
}

.main {
  width: 100%;
}

.main__top {
  position: relative;
}

.main__top > img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.main__top-content {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 350px;
  height: 100px;
  background-color: white;

  border-radius: 0px 120px 0px 0px;
  border-color: none;
}

.main__top-content img {
  height: 65px;
  width: 65px;
  border-radius: 9999px;
  cursor: pointer;
}

.main__top-content h3 {
  margin: 0px 0px 0px 15px;
  font-weight: 600;
  color: black;
}

.main__second {
  background-image: url("../Public/Images/BGweb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main__second-content {
  display: flex;
  margin-top: 20px;
  height: 180px;
}

.main__second-content-left {
  position: relative;
  padding: 30px;
  width: 33%;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.main__second-content-left-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__second-content-left-item {
  display: flex;
  margin-top: 15px;
}

.main__second-content-left-item > h4 {
  margin: 0px;
  color: #333;
  font-weight: 600;
}

.main__second-content-left-item > p {
  margin: 0px 0px 0px 12px;
  font-weight: 400;
  color: #333;
  font-size: 14px;
}

.main__second-content-right {
  padding: 0px 20px;
  margin-left: 7px;
  width: 67%;
  background-color: white;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.main__second-content-right > h1 {
  font-weight: 550;
  color: #333;
  border-bottom: 1px solid #333;
}

.main__second-content-right > p {
  margin: 26px 0px 0px 0px;
  width: 450px;
  color: #595959;
  font-size: 16px;
}

.main__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 20px auto;
}

.main__wrapper > h1 {
  margin: 15px 0px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.main__wrapper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main__wrapper-list-item {
  margin: 10px;
}

.main__wrapper-list-item > img {
  width: 300px;
  height: 350px;
  cursor: pointer;
  object-fit: cover;
}

.main__wrapper-post {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main__wrapper-post > h1 {
  margin: 15px 0px;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.main__wrapper-post-cart {
  width: 874px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.main__wrapper-post-cart-title {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  background: #f0f0f0;
  height: 46px;
}

.main__wrapper-post-cart-title > h3 {
  color: #333;
  font-weight: 600;
}

.main__wrapper-post-cart-content-img {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main__wrapper-post-cart-content-img > img {
  height: 65px;
  width: 65px;
  cursor: pointer;
  border-radius: 9999px;
}

.main__wrapper-post-cart-content-img > p {
  width: 800px;
  margin: 0px 0px 0px 25px;
  font-size: 15px;
  color: #595959;
}

.main__wrapper-post-cart-content-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin: 15px 0px;
}

.main__wrapper-post-cart-content-post-list {
  display: flex;
}

.main__wrapper-post-cart-content-paw > img {
  width: auto;
  height: 50px;
  cursor: pointer;
  object-fit: cover;
}

.main__wrapper-post-cart-content-post-img {
  position: relative;
  width: 155px;
  height: 130px;
  border: 1px dashed #8c8c8c;
}

.main__wrapper-post-cart-content-post-img > h4 {
  position: absolute;
  color: #bfbfbf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.main__wrapper-post-cart-content-post-image > img {
  width: 155px;
  height: 130px;
  cursor: pointer;
  object-fit: cover;
}

.main__wrapper-post-cart-content-option-list {
  display: flex;
  align-items: center;
  margin: 0px 15px;
  padding: 0px 0px 10px;
}

.main__wrapper-post-cart-content-option-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  width: 150px;
  height: 30px;
  border-radius: 9999px;
}

.main__wrapper-post-cart-content-option-list-item > img {
  width: auto;
  height: 22px;
  cursor: pointer;
  object-fit: cover;
}

.main__wrapper-post-cart-content-option-list-item > p {
  margin: 0px 0px 0px 10px;
  color: black;
  font-size: 13px;
  font-weight: 500;
}


.main__cart {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 550px 0px 0px 0px;
  border: 1px solid #e7e7e7;
  width: 874px;
  border-radius: 15px;
}

.main__cart_comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main__cart_comment-img img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 9999px;
  object-fit: cover;
}

.main__cart_comment-content {
  margin-left: 22px;
}

.main__cart_comment-content > p {
  margin: 0px;
  text-align: justify;
  color: #333;
  font-weight: 500;
  font-size: 15px;
}

.main__cart_banner {
  width: 100%;
}

.main__cart_banner > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main__cart_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.main__cart_icon-heart > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.main__cart_icon-heart > p {
  margin: 0px 0px 0px 5px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.main__cart_icon-comment > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.main__cart_icon-comment > p {
  margin: 0px 0px 0px 5px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}

.main__cart_icon_second {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__cart_icon_second-heart > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.main__cart_icon_second-comment > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.main__cart_box-title {
  margin-left: 10px;
  color: #13c2c2;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.main__cart_box-content {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.main__cart_box-img > img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 9999px;
}

.main__cart_box-review {
  position: relative;
  margin-left: 15px;
}

.main__cart_box-review-info {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.main__cart_box-review-info-user {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #ddd;
  height: 25px;
  border-radius: 9999px;
  width: 230px;
}
.main__cart_box-review-info-user > h3 {
  color: #13c2c2;
  font-size: 15px;
  font-weight: 450;
}

.main__cart_box-review-info-user > p {
  margin: 0px 0px 0px 13px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.main__cart_box-review-info-time {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.main__cart_box-review-info-time > img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  object-fit: cover;
}

.main__cart_box-review-info-time > h3 {
  font-size: 14px;
  font-weight: 400;
  color: #13c2c2;
  margin: 0px 10px;
}

.main__cart_box-review-info-time > h4 {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 550;
}

.main__cart_box-review-reply {
  display: flex;
  position: relative;
  margin-top: 10px;
}

.main__cart_box-review-reply > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 9999px;
}

.main__cart_box-review-reply > input {
  outline: none;
  background: #ddd;
  border: 1px solid #ddd;
  height: 30px;
  width: 500px;
  margin-left: 5px;
  border-radius: 9999px;
}

.main__cart_box-review-reply-camera {
  position: absolute;
  top: 2px;
  right: 10px;
  object-fit: cover;
}

.main__cart_comment-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main__cart_comment-bar > input {
  outline: none;
  background: #ddd;
  border: 1px solid #ddd;
  height: 30px;
  width: 680px;
  margin-left: 5px;
  border-radius: 9999px;
}

.main__cart_comment-bar > img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  border-radius: 9999px;
}

.main__cart_comment-bar-camera {
  position: absolute;
  width: 25px !important;
  height: 25px !important;
  top: 6px;
  right: 80px;
  object-fit: cover;
}

/* Footer */

.footer {
  position: relative;
  top: 800px;
  background-color: #333;
  width: 100%;
}
.footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin: 662px 0px 0px 0px;
}

.footer__content-img {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.footer__content-img .footer__content-img-first {
  width: auto;
  height: 75px;
  cursor: pointer;
}

.footer__content-img .footer__content-img-second {
  width: auto;
  height: 45px;
  cursor: pointer;
  margin-left: 15px;
}

.footer__content-list {
  margin-right: 35%;
}

.footer__content-list-item {
  display: flex;
  margin-top: 14px;
}

.footer__content-list-item > img {
  width: auto;
  height: 25px;
  cursor: pointer;
  fill: white;
}

.footer__content-list-item > p {
  margin: 0px;
  color: white;
  margin-left: 10px;
  font-weight: 400;
  font-size: 15px;
}
